body{
  background: #efefef;
  margin:0;
}
a{
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0; 
}
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
}
ul,ol{
  list-style: none;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}


.topNavBar .logo {
  font-family: "Hiragino Kaku Gothic Std";
  font-size: 22px;
  font-weight: bold;
  padding-top: 1px;
}
.topNavBar .logo .rs{
  color: #e6686a;
  margin-right: 4px;
}
.topNavBar .logo .card{
  color: #9A9DA2;
}

.topNavBar nav {
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.topNavBar nav a{
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: bold;
}
.topNavBar nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.topNavBar nav ul>li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}
.topNavBar nav ul>li>a{
  border-bottom: 3px solid transparent;
}
.topNavBar nav ul>li>a:hover{
  border-bottom-color: #DC6465;
}

.topNavBar {
 position: fixed;
 width:100%;
 padding: 20px 0 20px 0;
 top:0;
 left:0;
}
  .banner {
    height: 515px;
    background-image: url(../img/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
    
  }
  /*背景图片显示不出来的原因：
  主要是图片路径的问题。
1.图片和网页放在同一目录下，background-image:url("图片.jpg")
2.图片放在一个image目录下。并且image目录和网页在同一目录下：
background-image:url(“image/图片.jpg”)
3.图片放在一个image目录下。并且image目录和网页不在同一目录下
background-image:url(“../image/图片.jpg”)//两个点加一个左斜杠代表该程序的根目录
  */
  .banner .mask{
    background-color: rgba(0, 0, 0, 0.8);
    height:515px;
  
  }
  .userCard{
   
    max-width: 940px;
    margin-left:auto;
    margin-right:auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  }
  .userCard .pictureAndText .picture{
   
    float:left;

  }
  .userCard .pictureAndText .text{
 
    float:left;
    margin-left:65px;
    width:473px;
  }
  .userCard .welcome{
    background: #e8676b;
    color:white;
    display: inline-block;
    padding:4px 16px;
    line-height: 22px;
    position: relative;

  }
  .userCard .welcome .triangle{
    width: 0;
    height: 0;
    border-top: 8px solid #e8676b;
    border-right: 8px solid transparent;
    position:absolute;
    top:100%;
    left:4px;
  }
  .userCard .text h1{
    margin-top: 26px;
  }
  .userCard .text p{
    margin-top: 10px;
  }
  .userCard .text hr{
   margin:20px 0;
  }
  .userCard .pictureAndText{
    padding: 50px;
  }
  .userCard dl{
    font-size: 14px;
  }
  .userCard dl dt,
  .userCard dl dd {
   
    float:left;
    padding: 5px 0;
  }
  .userCard dl dt{
    width:30%;
    font-weight: bold;
   
  }
  .userCard dl dd{
    width:70%;
  }
  .userCard > footer.media{
    background: #e6686a;
    text-align: center;
  }
  .userCard >footer.media > a{
    
    width:40px;
    line-height: 30px;
    display: inline-block;
    margin:16px;
    padding: 5px 0;
    border-radius:50%;
  }
  .userCard > footer.media > a:hover{
    background: #cf5d5f;
  }
  .userCard svg{
    width:30px;
    height:30px;
    fill:white;
    vertical-align:top;
  }
  body > main{
    margin-top: -340px;
  }
  body > main .downloadResume-Wrapper{
    text-align: center;
  }
  body > main .downloadResume{
    border: #cbcdcf 1px solid;
    font-size: 14px;
    color:#3d4451;
    padding: 20px 57px;
    background: #efefef;
    font-weight: bold;
    display: inline-block;
    margin:33px 0;
    border-radius: 2px;
    transition: box-shadow 0.2s;

  }
  body > main .downloadResume:hover{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);
  }
  .selfIntroduction{
    max-width: 940px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-family: kaiti, Times New Roman;
    font-size: 18px;
    line-height: 1.8;
  }
  section.skills,
  section.portfolio{
   
    max-width: 940px;
    margin-left:auto;
    margin-right:auto;
    margin-top:60px;
  }
  section.skills > h2,
  section.portfolio > h2{
    text-align: center;
    color:#3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight:600;
  }

  section.skills > ol{
    background: #ffffff;
    margin-top:30px;
    padding: 42px 50px 10px ;
  }
  
  
  section.skills > ol >li{
   
    float:left;
    width:48%
    
  }
  section.skills > ol >li:nth-child(even){
    float: right;
  }
  section.skills h3{
    font-size:14px;
    line-height: 1.1;
  }
  section.skills .progressBar{
    background: #fae1e1;
    height:5px;
    border-radius:2px;
    margin:4px 0 40px;
  }
  section.skills .progressBar > .progress{
    height:100%;
    background: #e8676b;
    width:70%;
    border-radius:2px;
  }
section.portfolio{
 
  text-align: center;
  margin-bottom: 100px;
}
section.portfolio nav{
  text-align: center;
  margin-top:32px;
  display: inline-block;
  vertical-align：top;
  margin-bottom:32px;
  
  
}
section.portfolio nav ol{
  
  display: inline-block;
  vertical-align：top;
  
}
section.portfolio nav ol>li{
 
  float: left;
  margin-left:40px;
  cursor: pointer;
}
section.portfolio nav ol>li:first-child{
  margin-left: 0px;
}
section.portfolio nav .bar{

  height: 5px;
  background: white;
  border-radius:2px;
  margin-top:5px;
  
}
section.portfolio > nav .bar-inner{
  height: 100%;
  background: #E6686A;
  border-radius: 2px;
  transition: all 0.3s;
}

section.portfolio > nav .bar.state-1 .bar-inner{
  margin-left: 0;
  width: 50px;
}
section.portfolio > nav .bar.state-2 .bar-inner{
  margin-left: 65px;
  width: 50px;
}
section.portfolio > nav .bar.state-3 .bar-inner{
  margin-left: 140px;
  width: 96px;
}
section.portfolio .works{
  position: relative;
}
section.portfolio .works > .big,
section.portfolio .works > .small {
  position: absolute;
}